body {
    background-color:#FBC02D;
    text-align:center;
    border-width:10px;
    border-radius:80px;
  }
  .text-input {
    width: 50px;
  }
  .myCanvas {
    border-width: 3px;
    border-color: red;
    background-color: white;
  }
  